{% macro menu(label, url, class) %}
				<li class="{{ class }}"><a href="{{ url }}">{{ label }}</a></li>
{% endmacro %}

{% macro menuimage(label, icon, url, class) %}
	{% import _self as m %}
	{{ m.menu( '<img src="%s" alt="%s" />' | format(icon, label), url, class) }}
{% endmacro %}

{% macro breadcrumb(uri, base) %}
{% spaceless %}
		<p class="breadcrumb">
			<a href="{{base|default('/')}}">z720.net</a>
			{% set path = base %}
			{% for crumb in uri|slice(1)|split('/') %}
				{% if crumb != '' %}
			&raquo; <a href="{{path}}/{{crumb}}/">{{crumb|split('?')|first}}</a>
				{%endif%}
				{% set path = path ~ '/' ~ crumb %}
			{% endfor %}
		</p>
{% endspaceless %}
{% endmacro %}

