
{% macro buyurl(item) %}
{{ item.buy is defined ? item.buy|first : "https://www.google.com/search?&q=#{item.title} #{item.type}" }}
{% endmacro %}

{% macro card(item) %}
{% import _self as self %}
<div class="product-card">
  <div class="product-card-thumbnail">
    <a href="{{ self.buyurl(item) }}"><img src="{{ item.image }}"/></a>
  </div>
  <h2 class="product-card-title"><a href="{{ self.buyurl(item) }}" }}">{{ item.title }}{% if item.type %} <small>({{ item.type }})</small>{% endif %}</a></h2>
  <span class="product-card-desc">{{ item.comment }}</span>
  <span class="product-card-price">{{item.price}} -
    {% for name,url in item.buy %}<a href="{{url}}">{{name}}</a> {% if not loop.last %}-{%endif%} {% endfor %}
  </span>
</div>
{% endmacro %}
